body, h1, h2, h3, h4, h5, h6, p, pre, blockquote, dl, dt, dd, ul, ol, li, form, fieldset, legend, input, textarea, button, th, td {
	margin: 0;
	padding: 0;
}
.nav_bg {
	height: 44px;
	line-height: 44px;
	background: #2196f3;
}
.nav_bg .wrap {
	width: 1200px;
	margin:  0;
	display: block
}
.nav {
	float: left;
}

.nav a {
	display: block;
	float: left;
	padding: 0 20px;
	color: #fff;
	font-size: 16px;
	height: 44px;
	line-height: 44px;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.nav {
	position: relative;
	z-index: 1;
}

.nav .nLi {
	float: left;
	position: relative;
	display: inline;
}
.nav .nLi .e {
    padding: 0 0 0 90px;
	float: left;
}
.nav .nLi .d {
    padding: 0 0 0 20px;
	float: left;
}
.nav .nLi h3 a {
	display: block;
}
.nav .nLi .d a:hover {
	background: #0D5780;
	color: #fff;
}
.nav .on h3 a {
	background: #1784db;
	color: #fff;
}
.statistic{
	position: relative;
	width: 100%;
	height: 40px;
	margin-top: 50px;
	
	text-align: center;
}

.statistic .m{
	color: #fff;
	display: block;
}
.content {
	position: relative;
	float: left;
	padding: 60px 0 0 100px;
	
}

.left{
	position: relative;
	float: left;
	margin-top: 100px;
	margin-left: 200px;
}

.display_none{
	display:none;
}


.left li {height:40px;  position:relative;  display:block;padding:20px 0 0 120px;}

.left li a{color: #7d7d7d; display:block;font-size:20px;position: relative;}

.selected a{
	color: #FF0000;
	text-decoration: underline;
}